POSTGRES_DB=health_log_db
POSTGRES_USER=health_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SECRET_KEY=abcde12345abcde
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60